body {
  background-color: #0b1026;
  color: white;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

/* Navbar  style */

.nav-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
  flex-wrap: wrap;
  background-color: inherit;
}

.left-navContent-container,
.right-navContent-container {
  display: flex;
  align-items: center;
  max-height: 60px;
  padding: 10px 0;
}

.left-navContent-container {
  width: 25%;
  justify-content: space-between;
}

.right-navContent-container {
  width: 50%;
  justify-content: space-between;
}

.left-navContent-container img {
  max-height: inherit;
}

.left-navContent-container span {
  font-size: 1rem;

  margin-left: 32px;
}

.search-container {
  width: 90%;
  display: flex;
  align-items: center;
  background-color: #11193d;
  padding: 10px 14px;
  border-radius: 10px;
  flex-grow: 1;
}

.search-container input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  margin: 0 18px;
  font-size: 1rem;
}

.notification-container,
.profile-container {
  padding-left: 5%;
}

.profile-container img {
  border-radius: 50%;
  max-height: 40px;
}

/* Main content style */

.home-section-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 5%;
  flex-wrap: wrap;
  padding: 30px 40px;
  margin-bottom: 72px;
}

.main-screen-container {
  width: 65%;

}

.aside-screen-conatiner {
  width: 32%;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  max-height: 400px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Latest Release */
.latest-release-container {
  margin-top: 80px;
}

.latest-song-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 40px; */
  flex-wrap: wrap;

}

.latest-song-card {
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
  width: 100%;
  /* min-width: 300px; */
  margin-top: 40px;
  cursor: pointer;
  padding-right: 20px;
  /* transition: all 0.3s ease; */
}

.latest-song-card:hover {
  background-color: #11193d;
  /* padding: 10px 20px 10px 0; */
}

.latest-song-poster {
  display: flex;
  align-items: center;
}

.latest-song-poster img {
  width: 120px;
  height: 120px;
}

.latest-song-poster div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.latest-song-poster div b {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.latest-song-poster div span {
  font-size: 1rem;
  margin-top: 8px;
  text-transform: capitalize;
  color: #757887;
}

.letest-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin-right: 40px; */

}

.letest-details span {
  margin-top: 20px;

}

/* Popular-artist style */

.popular-artists-container {
  margin-top: 80px;
}

.popular-artist-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  width: 100%;
}

.popular-artist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.popular-artist-card img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  transition: all 0.3s ease;
  /* filter: drop-shadow(0 0 0.75rem rgb(100, 100, 100)); */
}

.popular-artist-card img:hover {
  transform: scale(1.1);

}

.popular-artist-card span {
  margin-top: 20px;
  font-size: 1rem;
}

/* aside  style */
.aside-screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-screen-header span {
  font-size: 1.8rem;
  font-weight: bold;
}

.aside-screen-header div {
  color: #236663;
  cursor: pointer;
}

.aside-screen-header div>span {
  font-size: 1rem;
  margin-right: 20px;

}

.aside-screen-header .queue-dropdown {
  position: absolute;
  background: white;
  margin-top: 10px;
  display: none;
}

.aside-screen-header .queue-dropdown b {
  display: block;
  padding: 15px 25px;
  /* margin: 0 10px ; */
  border-bottom: 1px solid black;
  font-size: 0.8rem;
  cursor: pointer;
}

.show {
  position: absolute;
  background: white;
  margin-top: 10px;
  display: block !important;
}

.aside-screen-header .queue-dropdown b:hover {
  background-color: #eee;
}

.aside-screen-content {
  width: 100%;
  margin-top: 50px;
}

.queue-song-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.queue-song-card:hover {
  background-color: #11193d;
  padding: 10px 20px;
}

.queue-song-card img {
  max-height: 60px;
  max-width: 60px;
  border-radius: 10px;
}

.queue-song-poster {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.queue-song-poster img {
  margin-left: 20px;

}

.queue-song-poster div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.queue-song-poster div b {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.queue-song-poster div span {
  font-size: 1rem;
  margin-top: 8px;
  text-transform: capitalize;
  color: #757887;
}

.song-like {
  color: #757887;
}

.song-like i:hover {
  cursor: pointer;
  color: red;
}

/* Single Screen Style */

.single-screen-main-poster {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* margin-top: 40px; */
  margin-bottom: 20px;
  width: 100%;
  /* height: 300px; */
  background-color: #131b40;
  position: relative;

}

.single-screen-main-poster img {
  width: 50%;
  height: inherit;
}

.backToHome {
  margin-bottom: 20px;
  border: 1px solid white;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.header-card {
  padding: 30px;
}

.header-card-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-card-heading div:first-child {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.header-card-heading div b {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.header-card-heading div span {
  font-size: 0.8rem;
  margin-top: 5px;
  text-transform: capitalize;
  color: #757887;
  letter-spacing: 1px;
}

.header-card-content {
  font-size: 0.8rem;
  color: #757887;
  text-align: justify;
  letter-spacing: 1px;
}

.header-card-buttons {
  margin-top: 40px;
}

.header-card-buttons button:nth-child(1) {
  padding: 10px 30px;
  margin-right: 20px;
  border: none;
  outline: none;
  background: rgb(57, 37, 178);
  background: linear-gradient(90deg, rgba(57, 37, 178, 1) 2%, rgba(178, 68, 217, 1) 98%);
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.header-card-buttons button:nth-child(2) {
  padding: 10px 30px;
  margin-right: 20px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.header-card-buttons b {
  display: block;
  margin-top: 10px;
  font-size: 0.7rem;
}

.card-background {
  padding: 10px 10px;
  background-color: #191e32;
  margin-top: 10px;
}

.card-background .queue-song-poster b {
  font-size: 0.8rem;
}

.card-background .queue-song-poster span {
  font-size: 0.8rem;
}

.card-background .queue-song-poster img {
  width: 50px;
  height: 50px;
}

.card-background .song-like i {
  margin: 0 20px;
}

.recently-played {
  margin-top: 40px;
  margin-bottom: 20px;

}

.recently-played .card-background {
  padding: 10px 10px;
  background-color: transparent;
  margin-top: 10px;
}

/* Bottom Music Player Style */

.bottom-music-player-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 72px;
  background-color: #282828;
  padding: 0 40px;
}

.song-details {
  display: flex;
  align-items: center;
  margin: 0 20px;

}

.song-details div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.song-details div b {
  font-size: 1rem;
  text-transform: capitalize;
}

.song-details div span {
  font-size: 0.8rem;
  margin-top: 8px;
  text-transform: capitalize;
  color: #757887;
}

.song-details img {
  width: 72px;
  height: inherit;
  /* margin: 10px; */
  /* border-radius: 50%; */
}

.song-control {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}

.song-control-button i {
  padding: 0 20px;
  cursor: pointer;
}

.song-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.song-progress span {
  font-size: 0.8rem;
  color: #757887;
}

.progress-bar {
  position: relative;
  width: 25vw;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 20px;
}

.progress-value {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #2ede7b;
  width: 80%;
  height: inherit;
}

.volume-control {
  display: flex;
  align-items: center;
}

.volume-control i {
  padding: 0 10px;
  cursor: pointer;
}

.audio-progress-bar {
  position: relative;
  width: 5vw;
  height: 5px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
}

.audio-progress-value {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  background-color: #2ede7b;
  width: 80%;
  height: inherit;
}

/* Media Query */

@media screen and (max-width: 1000px) {
  .bottom-music-player-container {
    padding: 0;
  }

  .song-details div {
    display: none;
  }

  .main-screen-container,
  .aside-screen-conatiner {
    width: 100%;
  }

  .aside-screen-conatiner {
    margin-top: 40px;
  }

  .single-screen-main-poster {
    flex-direction: column;
  }

  .single-screen-main-poster img {
    min-width: 100%;
    height: 300px;

  }
}

@media screen and (max-width: 600px) {
  .nav-container {
    margin: 0 10px;
  }

  .home-section-container {
    margin: 0;
    margin-bottom: 72px;
    padding-top: 2%;
  }

  .left-navContent-container {
    width: 28%;
  }

  .right-navContent-container {
    width: 70%;
  }

  .left-navContent-container img {
    width: 60%;
    max-height: inherit;
  }

  .left-navContent-container span {
    font-size: 0.5rem;
    margin-left: 0px;
  }

  .search-container input {
    width: 100%;
    font-size: 0.5rem;
    flex-grow: 1;
  }

  .popular-artist-card img {
    width: 100px;
    height: 100px;
  }

  .card-background .song-like i {
    margin: 0 10px;
  }
  .bottom-music-player-container {
    padding: 0;
    width: 100vw;
  }
  .song-control-button i:first-of-type {
    display: none;
  }
  .song-control-button i:last-of-type {
    display: none;
  }
  .song-control-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
  }
  .song-control-button i{
    margin-top: 14px;
    padding: 0 5px !important;
  }

  .song-progress span {
    display: none;
  }

  .progress-bar {
    position: absolute;
    top: 0;
    width: 114vw;
    height: 2px;
  }

  .song-control i {
    padding: 0 2px;
  }

}